.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 9.37%;

  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-family: @font;
  color: @color-heading;
}

.contacts__wrapper {
  margin-bottom: 36px;
  padding: 0 9.37%;
}

.contacts__info {
  display: flex;
  margin: 0;

  line-height: 30px;

  &:not(:last-child) {
    margin-bottom: 29px;
  }
}

.contacts__email {
  display: flex;
  margin-left: 11.54%;

  color: @font-color;
  text-decoration: none;

  border-bottom: 1px solid @color-highlight;

  &:hover,
  &:focus {
    color: #46c1ae;

    border-bottom-color: #46c1ae;
    transition: color 0.3s ease-out;
  }

  &:active {
    color: fade(#46c1ae, 30%);

    border: none;
  }

  &:active &--underline {
    border-bottom: 1px solid fade(#46c1ae, 10%);
  }
}

.contacts__address {
  margin-left: 11.54%;
}

.contacts__map-image {
  width: 100%;
  height: 457px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.contacts__write {
  margin: 0 9.37%;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    margin-bottom: 47px;
    padding: 0 6.51%;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 56px;
    padding: 0 6.51%;
  }

  .contacts__info {
    box-sizing: border-box;
    width: 50%;

    font-size: 17px;

    &:last-child {
      padding-left: 0;
    }

    .contacts__email,
    .contacts__address {
      margin-left: 6.89%;
    }
  }

  .contacts__map-image {
    margin-bottom: 55px;
  }

  .contacts__write {
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__title {
    width: 50%;
    padding: 0 175px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__wrapper {
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 78px;
    padding: 0 50px;
    padding-left: 175px;
  }

  .contacts__info {
    width: 100%;
    padding: 0;
  }

  .contacts__email,
  .contacts__address {
    margin-left: 23px;
  }

  .contacts__map-image {
    position: absolute;
    right: 50px;
    bottom: 105px;
    width: 525px;
    margin-bottom: 0;
  }

  .contacts__write {
    align-self: flex-start;
    box-sizing: border-box;
    width: 230px;
    margin-left: 175px;
  }
}
