.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 30px;

  font-style: normal;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  font-family: @font;
  color: @color-heading;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  svg {
    fill: @color-highlight;
  }
}
