.page-footer {
  background-color: @bg-color-alternate;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  box-sizing: border-box;
  margin: 0;
}

.page-footer__copyright {
  margin-top: 22px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 51px 50px 51px;
  }

  .page-footer__logo {
    display: block;
    margin-right: 78px;
  }

  .page-footer__logo-image {
    width: 102px;
    height: 34px;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    width: 180px;
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }
}
