.social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 146px;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;

  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social__link {
  display: block;

  &--twitter {
    margin-right: 6px;
  }

  &:hover path,
  &:focus path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding-bottom: 0;

    border: none;
  }
}
